@model CommAI.Models.CommercialScriptEnhanced

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CommercialScriptEnhanced</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginalScript" class="control-label"></label>
                <input asp-for="OriginalScript" class="form-control" />
                <span asp-validation-for="OriginalScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvertisingIdea" class="control-label"></label>
                <input asp-for="AdvertisingIdea" class="form-control" />
                <span asp-validation-for="AdvertisingIdea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnhancedScript" class="control-label"></label>
                <input asp-for="EnhancedScript" class="form-control" />
                <span asp-validation-for="EnhancedScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnhancedScriptTagLine" class="control-label"></label>
                <input asp-for="EnhancedScriptTagLine" class="form-control" />
                <span asp-validation-for="EnhancedScriptTagLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Improvements" class="control-label"></label>
                <input asp-for="Improvements" class="form-control" />
                <span asp-validation-for="Improvements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyMessagesOfEnhancedScript" class="control-label"></label>
                <input asp-for="KeyMessagesOfEnhancedScript" class="form-control" />
                <span asp-validation-for="KeyMessagesOfEnhancedScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsCreativeContentBasedNews" class="control-label"></label>
                <input asp-for="NewsCreativeContentBasedNews" class="form-control" />
                <span asp-validation-for="NewsCreativeContentBasedNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialScriptInsightsId" class="control-label"></label>
                <select asp-for="CommercialScriptInsightsId" class ="form-control" asp-items="ViewBag.CommercialScriptInsightsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommercialScriptId" class="control-label"></label>
                <select asp-for="CommercialScriptId" class ="form-control" asp-items="ViewBag.CommercialScriptId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
