@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-white">
    <div class="row">
        <!-- Left side (text content) -->
        <div class="col-md-6 text-center">
            <div style="height: 200px;"></div>
            <h1 class="display-4">-Comm AI-</h1>
            <p class="lead text-body-secondary" style="align-items: self-start">Transform your TV commercials with AI-driven scripts that adapt to real-time social and cultural trends, capturing audience attention like never before.</p>
            <div style="height: 10px;"></div>

            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="CommercialScriptInsights" asp-action="Create" class="btn btn-outline-success" role="button">Get Started</a>
            }
            else
            {
                <a class="btn btn-info" role="button" asp-area="Identity" asp-page="/Account/Register">Register Now</a>
            }
        </div>
        <!-- Right side (background image content) -->
        <div class="col-md-6">
            <img src="~/images/2.gif" alt="Image" class="img-fluid bg-image">
        </div>
    </div>
</div>

<!-- Style tag for CSS -->
<style>
    .bg-image {
        background-image: url('~/images/1.jpg');
        background-size: cover; /* Ensures the image covers the container */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents repeating of the image */
        height: 100%;
    }
</style>
