@model CommAI.Models.CommercialScriptSuggestion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CommercialScriptSuggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginalScript" class="control-label"></label>
                <input asp-for="OriginalScript" class="form-control" />
                <span asp-validation-for="OriginalScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfWeakPoints" class="control-label"></label>
                <input asp-for="NumberOfWeakPoints" class="form-control" />
                <span asp-validation-for="NumberOfWeakPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeakPoints" class="control-label"></label>
                <input asp-for="WeakPoints" class="form-control" />
                <span asp-validation-for="WeakPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuggestionsCount" class="control-label"></label>
                <input asp-for="SuggestionsCount" class="form-control" />
                <span asp-validation-for="SuggestionsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suggestions" class="control-label"></label>
                <input asp-for="Suggestions" class="form-control" />
                <span asp-validation-for="Suggestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommercialScriptInsightsId" class="control-label"></label>
                <select asp-for="CommercialScriptInsightsId" class ="form-control" asp-items="ViewBag.CommercialScriptInsightsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommercialScriptId" class="control-label"></label>
                <select asp-for="CommercialScriptId" class ="form-control" asp-items="ViewBag.CommercialScriptId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
